JsonString [["#escaped"]]
JsonNumber [[$Value]]
JsonArray [[$if(#hasElement)[
  $cat($ElementList, ",\n")
]$else[]$endif]]
JsonObject [[$if(#hasMember){
  $cat($MemberList, ",\n")
}$else{}$endif]]
JsonMember [["$Name": $Value]]
JsonFalse [[false]]
JsonTrue [[true]]
JsonNull [[null]]
JsonUnknown [[<unknown>]]
